{% extends "../base.html" %}

{% block title %} Login {% endblock title %}

{% block content %}
<div class="container">
    <div class="row centered py-4 align-items-center justify-content-center">
        
        <form action="" class="col-md-8" method="POST" novalidate>
            {% csrf_token %}
            <div class="form-group my-2">
                <h3 class="text-dark text-muted">Reset your password</h3>
            </div>
            <hr>
            <div class="form-group my-2">
                {% include '../message.html' %}
            </div>
            <div class="form-group my-1">
                <label for="email">Email</label>
                {{form.email}}
                {{form.email.errors}}
            </div>
            <div class="form-group my-3 d-grid gap-2">
                <button type="submit" class="btn btn-dark">Get password reset link</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}