{% extends "../base.html" %}

{% block title %} Change Password {% endblock title %}

{% block content %}
    <div class="container">
    <div class="row centered py-4 align-items-center justify-content-center">
        {% if validlink %}
        <form action="" class="col-md-8" method="POST" novalidate>
            {% csrf_token %}
            <div class="form-group my-2">
                <h3 class="text-dark text-muted">Reset your password</h3>
            </div>
            <hr>
            <div class="form-group my-2">
                {% include '../message.html' %}
            </div>
            <div class="form-group my-1">
                <label for="new_password1">New password</label>
                <input class="form-control" type="password" name="new_password1">
                {{form.new_password1.errors}}
            </div>
            <div class="form-group my-1">
                <label for="new_password2">Confirm password</label>
                <input class="form-control" type="password" name="new_password2">
                {{form.new_password2.errors}}
            </div>
            <div class="form-group my-3 d-grid gap-2">
                <button type="submit" class="btn btn-dark">Reset password</button>
            </div>
        </form>
        {% else %}
        <div class="col-md-8">
            Oops! Seems like this link is invalid or has already been used!
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}